[submodule "app-product/boilaDB"]
	path = app-product/boilaDB
	url = git@github.com:bagalang/boilaDB.git
[submodule "app-product/rocksbaga"]
	path = app-product/rocksbaga
	url = git@github.com:bagalang/rocksbaga.git
[submodule "app-product/bagadecimal"]
	path = app-product/bagadecimal
	url = git@github.com:bagalang/bagadecimal.git
[submodule "app-product/boilabaga"]
	path = app-product/boilabaga
	url = git@github.com:bagalang/boilabaga.git
[submodule "app-product/bufbaga"]
	path = app-product/bufbaga
	url = git@github.com:bagalang/bufbaga.git
[submodule "app-product/chatbaga"]
	path = app-product/chatbaga
	url = git@github.com:bagalang/chatbaga.git
[submodule "app-product/cloudbaga"]
	path = app-product/cloudbaga
	url = git@github.com:bagalang/cloudbaga.git
[submodule "app-product/csvbaga"]
	path = app-product/csvbaga
	url = git@github.com:bagalang/csvbaga.git
[submodule "app-product/ctxbaga"]
	path = app-product/ctxbaga
	url = git@github.com:bagalang/ctxbaga.git
[submodule "app-product/flagbaga"]
	path = app-product/flagbaga
	url = git@github.com:bagalang/flagbaga.git
[submodule "app-product/fmrbaga"]
	path = app-product/fmrbaga
	url = git@github.com:bagalang/fmrbaga.git
[submodule "app-product/globbaga"]
	path = app-product/globbaga
	url = git@github.com:bagalang/globbaga.git
[submodule "app-product/grebaga"]
	path = app-product/grebaga
	url = git@github.com:bagalang/grebaga.git
[submodule "app-product/httpdbaga"]
	path = app-product/httpdbaga
	url = git@github.com:bagalang/httpdbaga.git
[submodule "app-product/imgbaga"]
	path = app-product/imgbaga
	url = git@github.com:bagalang/imgbaga.git
[submodule "app-product/jsonrpcbaga"]
	path = app-product/jsonrpcbaga
	url = git@github.com:bagalang/jsonrpcbaga.git
[submodule "app-product/jwtbaga"]
	path = app-product/jwtbaga
	url = git@github.com:bagalang/jwtbaga.git
[submodule "app-product/kvbaga"]
	path = app-product/kvbaga
	url = git@github.com:bagalang/kvbaga.git
[submodule "app-product/logbaga"]
	path = app-product/logbaga
	url = git@github.com:bagalang/logbaga.git
[submodule "app-product/lsmbaga"]
	path = app-product/lsmbaga
	url = git@github.com:bagalang/lsmbaga.git
[submodule "app-product/mdbaga"]
	path = app-product/mdbaga
	url = git@github.com:bagalang/mdbaga.git
[submodule "app-product/mdtbaga"]
	path = app-product/mdtbaga
	url = git@github.com:bagalang/mdtbaga.git
[submodule "app-product/metbaga"]
	path = app-product/metbaga
	url = git@github.com:bagalang/metbaga.git
[submodule "app-product/oauthbaga"]
	path = app-product/oauthbaga
	url = git@github.com:bagalang/oauthbaga.git
[submodule "app-product/officebaga"]
	path = app-product/officebaga
	url = git@github.com:bagalang/officebaga.git
[submodule "app-product/ormbaga"]
	path = app-product/ormbaga
	url = git@github.com:bagalang/ormbaga.git
[submodule "app-product/otelbaga"]
	path = app-product/otelbaga
	url = git@github.com:bagalang/otelbaga.git
[submodule "app-product/pathbaga"]
	path = app-product/pathbaga
	url = git@github.com:bagalang/pathbaga.git
[submodule "app-product/pbbaga"]
	path = app-product/pbbaga
	url = git@github.com:bagalang/pbbaga.git
[submodule "app-product/pdfbaga"]
	path = app-product/pdfbaga
	url = git@github.com:bagalang/pdfbaga.git
[submodule "app-product/pgbaga"]
	path = app-product/pgbaga
	url = git@github.com:bagalang/pgbaga.git
[submodule "app-product/querybaga"]
	path = app-product/querybaga
	url = git@github.com:bagalang/querybaga.git
[submodule "app-product/queuebaga"]
	path = app-product/queuebaga
	url = git@github.com:bagalang/queuebaga.git
