[submodule "app-product/boilaDB"]
	path = app-product/boilaDB
	url = git@github.com:bagalang/boilaDB.git
[submodule "app-product/rocksbaga"]
	path = app-product/rocksbaga
	url = git@github.com:bagalang/rocksbaga.git
[submodule "app-product/bagadecimal"]
	path = app-product/bagadecimal
	url = git@github.com:bagalang/bagadecimal.git
[submodule "app-product/boilabaga"]
	path = app-product/boilabaga
	url = git@github.com:bagalang/boilabaga.git
[submodule "app-product/bufbaga"]
	path = app-product/bufbaga
	url = git@github.com:bagalang/bufbaga.git
[submodule "app-product/chatbaga"]
	path = app-product/chatbaga
	url = git@github.com:bagalang/chatbaga.git
[submodule "app-product/cloudbaga"]
	path = app-product/cloudbaga
	url = git@github.com:bagalang/cloudbaga.git
[submodule "app-product/csvbaga"]
	path = app-product/csvbaga
	url = git@github.com:bagalang/csvbaga.git
[submodule "app-product/ctxbaga"]
	path = app-product/ctxbaga
	url = git@github.com:bagalang/ctxbaga.git
[submodule "app-product/flagbaga"]
	path = app-product/flagbaga
	url = git@github.com:bagalang/flagbaga.git
[submodule "app-product/fmrbaga"]
	path = app-product/fmrbaga
	url = git@github.com:bagalang/fmrbaga.git
[submodule "app-product/globbaga"]
	path = app-product/globbaga
	url = git@github.com:bagalang/globbaga.git
[submodule "app-product/grebaga"]
	path = app-product/grebaga
	url = git@github.com:bagalang/grebaga.git
[submodule "app-product/httpdbaga"]
	path = app-product/httpdbaga
	url = git@github.com:bagalang/httpdbaga.git
[submodule "app-product/imgbaga"]
	path = app-product/imgbaga
	url = git@github.com:bagalang/imgbaga.git
[submodule "app-product/jsonrpcbaga"]
	path = app-product/jsonrpcbaga
	url = git@github.com:bagalang/jsonrpcbaga.git
[submodule "app-product/jwtbaga"]
	path = app-product/jwtbaga
	url = git@github.com:bagalang/jwtbaga.git
[submodule "app-product/kvbaga"]
	path = app-product/kvbaga
	url = git@github.com:bagalang/kvbaga.git
[submodule "app-product/logbaga"]
	path = app-product/logbaga
	url = git@github.com:bagalang/logbaga.git
[submodule "app-product/lsmbaga"]
	path = app-product/lsmbaga
	url = git@github.com:bagalang/lsmbaga.git
