[submodule "app-product/boilaDB"]
	path = app-product/boilaDB
	url = git@github.com:bagalang/boilaDB.git
[submodule "app-product/rocksbaga"]
	path = app-product/rocksbaga
	url = git@github.com:bagalang/rocksbaga.git
[submodule "app-product/bagadecimal"]
	path = app-product/bagadecimal
	url = git@github.com:bagalang/bagadecimal.git
[submodule "app-product/boilabaga"]
	path = app-product/boilabaga
	url = git@github.com:bagalang/boilabaga.git
