PORT=8080
FMR_WORKERS=4
FMR_LOG=1
FMR_CORS=*
FMR_JWT_SECRET=change-me-in-production
FMR_TITLE=my-api
FMR_VERSION=0.1.0
PGHOST=127.0.0.1
PGPORT=5432
PGUSER=bagatest
PGPASSWORD=pas+123
PGDATABASE=baga_orm
